<div class="content">
    <pep-top-bar [inline]="false">
        <div header-start-content>
            <pep-button [value]="'Todos List' | translate" (buttonClick)="backClicked()" [iconName]="'arrow_left_alt'"></pep-button>
        </div>
        <div  header-end-content>
            <pep-button [value]="'Cancel' | translate" (buttonClick)="cancelClicked()"></pep-button>
            <pep-button [value]="'Save' | translate" [styleType]="'strong'" (buttonClick)="saveClicked()" [disabled] = "disableSaveButton"></pep-button>
        </div>
    </pep-top-bar>
    <h5>{{ 'Define the todo details' | translate}}</h5>
    <br/>
    <div *ngIf="!loading" class="form">
        <div class="grid-container">
            <div class="name">
                <pep-textbox [mandatory]="true" [(value)]="obj.Name" (valueChange)="onValueChanged($event)"></pep-textbox>
            </div>

            <div class="desc">
                <pep-textbox [mandatory]="true" [(value)]="obj.Description" (valueChange)="onValueChanged($event)"></pep-textbox>
            </div>

            <div class="duedate">
                <pep-date [(value)]="obj.DueDate" [type]="'datetime'"></pep-date>
            </div>
        </div>          
    </div>
</div>