.grid-container {
    display: grid;
    overflow-y: scroll;
    gap: 1px 10px;
    grid-template-columns: 1fr;
    grid-template-areas: "name" "desc" "duedate";
    
    .name { grid-area: name; }
    .desc { grid-area: desc; }
    .duedate { grid-area: duedate; }
  }